<header>
  <nav class="z-depth-0">
    <div class="nav-wrapper amber accent-4">
      <a href="/" class="brand-logo">text4books</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="user-only" id="start-modal">Sell</a></li>
        <li><a class="user-only" id = "profile-tab" href="/profile">Profile</a></li>
        <li><a class="user-only" id="logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
