

<div id = "landing-page" class = "logged-out">
  <h3 id = "textbook-info"></h3>
  <a id = "signup-button" class="waves-effect waves-light btn modal-trigger" href="#modal1">Signup</a> </br>
  <a id = "login-button" class="waves-effect waves-light btn modal-trigger" href="#modal2">Login</a>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
      <form class="sign-up col s24" action="api/users" method="post">
        <h3 id = "signup-title">Sign Up</h3>
        <a href="#!" id = "close-signup" class=" modal-action modal-close waves-effect waves-green btn">X</a> </br>
          <i id = "singup-name-icon" class="material-icons prefix">account_circle</i>
          <input type="text" id = "signup-username" name="user[username]" placeholder = "username">

          <i class="material-icons prefix">mode_edit</i>
          <input type="password" id = "signup-password" name="user[password]" placeholder = "password">

          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" name = "user[email]" placeholder = "email">

          <i class="material-icons prefix">library_books</i>
          <input type="text" id = "signup-college" name="user[college]" value="" placeholder = "college">

          <input id="signup-submit" class = "btn btn" type="submit" name="name" value="Sign-Up"> </br>
        </form>
    </div>
  </div>


<div id="modal2" class="modal">
  <div class="modal-content">
    <form id = "login">
      <h3 id="login-title">Login</h3>
      <a href="#!" id = "close-signup" class=" modal-action modal-close waves-effect waves-green btn">X</a></br>

        <i id="account-circle" class="material-icons prefix">account_circle</i>
        <input type="text" id = "login-username" name="username" value="" placeholder = "username">

        <i id="mode-edit"class="material-icons prefix">mode_edit</i>
        <input type="password" id = "login-password" name="password" value="" placeholder = "password">

        <input id="login-submit" class = "btn btn" type="submit" name="name" value = "Login">
    </form>
  </div>
</div>
