<div class="logged-out" id = "sign-up-div" width="100">
  <form class="sign-up" action="api/users" method="post">
    <h3>Sign Up</h3>
    <input type="text" id = "signup-username" name="user[username]" placeholder = "username">
    <input type="password" id = "signup-password" name="user[password]" placeholder = "password">
    <input type="text" id = "signup-email" name="user[email]" value="" placeholder = "email">
    <input type="text" id = "signup-college" name="user[college]" value="" placeholder = "college">
    <input id="signup-submit" type="submit" name="name" value="Sign-Up">
  </form>
  <button type="button" id = "already-user" name="button">Already Have an Account?</button>
</div>

<div class="logged-out" id = "login-div">
  <form id = "login">
    <h3 class="login-title">Login</h3>
    <input type="text" id = "login-username" name="username" value="" placeholder = "username">
    <input type="password" id = "login-password" name="password" value="" placeholder = "password">
    <input id="login-submit" type="submit" name="name" value = "Login">
  </form>
  <button type="button" id = "create-account" name="Create Account">Create Account</button>
</div>


<!-- a user lands on the home page and sees the forms to log in. -->
<!-- once a user enters in their log in information then presses submit, the list of books which are ready for sell appear via a toggle action -->
<!-- if a user isn't signed/doesn't have an account, they click the button 'sign up', and the sign up forms appear. ONce the user completes the sign up information and presses submit, then the sign up forms disappear, the log in forms appear. -->
