ul {
  height: 100%;
  width: 80%;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: -10px;
}
li {
  list-style: none;
}
.listed-books {
  width: 220px;
  height: 280px;
  display: inline-block;
  background-color: #858383;
  padding: 25px;
  margin: 0px 30px 60px 0px;
  overflow: scroll;
}
