body {
  background-color: red;
}
.profile-avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}








/*positing of sign up div */
#sign-up-div{
  position: relative;
  left: 50%;
  /*margin: auto;*/
  /*width: 100%; */
}
#signup-password{
  position: relative;
  right: 205px;
  top: 70px;
}
#signup-email{
  position: relative;
  right: 410px;
  top: 140px;
}
#signup-college{
  position: relative;
  right: 612px;
  top: 200px;
}
#signup-submit{
  position: relative;
  background-color: rgba(0, 0, 255, 1);
  /*top: 80%;*/
  top: 240px;
  right: 80.5%;
  color: rgba(255, 255, 255, 1);
}
#already-user{
  position: relative;
  left: -1px;
  top: 225px;
  background-color: rgba(255, 255, 255, 1);
  width: 200px;
}









/*positioning of login div */

#login-div{/*div*/
  position: relative;
  top: 300px;
}
.login-title{
  position: relative;
  left: 100px;
}
#login-username{
  position: relative;
  left: 100px;
}
#login-password{
  position: relative;
  left: -105px;
  top: 50px;
}
#login-submit{
  position: relative;
  right: 310px;
  top: 100px;
  background-color: rgba(0, 0, 255, 1);
  color: rgba(255, 255, 255, 1);
}
#create-account{
  position: relative;
  top: 80px;
  left: 100px;
  width: 200px;
}
/* ATTENTION create account button belongs to the logged in div */

/*positioning of textbook div */
#textbook-api{ /*div */
  position: relative;
  left: 100px;
  top: 350px;
}
/*enter textbook api, first html element tag */
#textbook-api-title{
  position: relative;
  top: 5px;
}
#input{
  position: relative;
  top: 250px;
}
#book-submit{
  position: relative;
  top: 30px;
  right: 240px;
}


/*form email, old password, new password etc...*/
.form-edit-profile{
  position: relative;
  top: 200px;
  left: 100px;
}
/*enter textbook api, second html element tag */
#textbook-two{
  position: relative;
  top: 150px;
}
#input-two{
  position: relative;
  top: 150px;
}
#book-submit{
  position: relative;
  top: 40px;
  right: 240px;
}

.info{
  position: relative;
  top: 500px;
}


/*textbook condition */
#book-form{/*div*/
  position: relative;
  top: 650px;
  left: 100px;
}
#textbook-condition{
  position: relative;
  top: 60px;
  right: 205px;
}
#textbook-isbn{
  position: relative;
  top: 120px;
  right: 410px;
}
#condition-submit{
  position: relative;
  top: 160px;
  right: 690px;
}
