<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
  <input type="hidden" name="_id" value="">
  <script id="textbook-template" type="text/x-handlebars-template">
    <ul>
      {{#each textbooks}}
      <div class="card small listed-books" data-id={{_id}}>
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="{{image}}">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4"><i class="material-icons right transparent">more_vert</i></span>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right ">close</i></span>
           <p>Condition: {{condition}}</p>
           <p>ISBN#: {{isbn}}</p>
           <p>Author(s): {{author}}</p>
           <!-- <a href = "#" id = "show-description">Show Description</a> </br> -->
           <!-- <p id = "card-description"> {{description}} <a href = "#" id = "hide-description">Hide Description</a></p> -->
           <a href='mailto:{{email}}?subject=I am interested in your "{{title}}" book' target="_top"> Email Seller</a>
         </div>
       </div>
       {{/each}}
      <!-- {{#each textbooks}}
        <div data-id={{_id}} class="listed-books" style="background: url({{image}}) no-repeat; background-size: contain;">
          <li><h3 class="book-title">{{title}}</h3></li>
          <li><h5 class="book-condition">Condition: {{condition}}</h5></li>
          <li><p class="book-isbn">ISBN#: {{isbn}}</p></li>
          <li><p class="book-author">author(s): {{author}}</p></li>
        </div>
      {{/each}} -->
    </ul>
  </script>
</head>
<body>
  <div class="container">

  <% include ./partials/header %>

  <% include ./partials/userForms %>
​
  <div id="modal-view">
    <button id = "exit-modal" class = "btn btn" type="button" name="button">X</button>
    <% include ./partials/list-book-form %>
    <div id = "search-results">
    </div>
  </div>

  <h4 id = "greeting" class = "user-only"></h4>
  <h5 id = "no-books"></h5>

  <div id="rendered-textbooks" class="user-only">
  </div>

  </div>

</body>
</html>
