<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
  ​
  <script id="textbook-template" type="text/x-handlebars-template">
    <ul>

        {{#each textbooks}}
          <a href="#{{_id}}" class="listed-books" style="background: url({{image}}) no-repeat; background-size: contain;">
            <li><h3 class="book-title">{{title}}</h3></li>
            <li><h5 class="book-condition">Condition: {{condition}}</h5></li>
            <li><p class="book-isbn">ISBN#: {{isbn}}</p></li>
            <li><p class="book-author">author(s): {{author}}</p></li>
          </a>
        {{/each}}
    </ul>
  </script>
</head>
<body>
  <div class="container">

    <% include ./partials/header %>

  <button class = "user-only" id = "logout" value = "Logout">Logout</button>
  <button id = "start-modal" class = "user-only" type="button" name="button"> Sell Textbooks</button>
  <a href = '/profile' id = "user-profile" class = "btn user-only">User Profile</a>
  
  <% include ./partials/userForms %>
​
  <div id="modal-view">
    <button id = "exit-modal" type="button" name="button">X</button>
    <% include ./partials/list-book-form %>
    <div id = "search-results">
    </div>
  </div>
  <!-- ​ <div id="textbook-api">
      <h4 id="textbook">Textbook API here 1</h4>
      <input id="input" type="text" name="textbook" placeholder="Enter textbook 1">
​
  <h4 id="textbook-two">Textbook API here 2</h4>
  <input id="input-two" type="text" name="textbook" placeholder="Enter textbook 2"> -->



  <!-- <section class = "user-only" id = "users">
</section> -->

<!-- <img class="bookBg" src="./images/635211012072870766_books-bokeh-hd-wallpaper.jpg" alt=""> -->

  <div id="rendered-textbooks" class="user-only">
  </div>

  </div>
</body>
</html>
