ul {
  height: 100%;
  width: 80%;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: -10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.listed-books {
  width: 220px;
  height: 280px;
  display: inline-block;
  background-color: #858383;
  padding: 25px;
  margin: 0px 30px 60px 0px;
  overflow: scroll;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.filter {
  position: absolute;
  right: 15%;
}

.bookBg {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  -webkit-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  filter: brightness(0.5);
}
