#rendered-textbooks {
  margin-top: 50px;
}

.listed-books {
  width: 220px;
  height: 280px;
  display: inline-block;
  background-color: #858383;
  padding: 25px;
  margin: 0px 25px 60px 0px;
  overflow: scroll;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

#each-book {
  width: 220px;
  height: 280px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.72);
  padding: 4px 15px 15px 15px;
  margin: 0px 25px 60px 0px;
  overflow: scroll;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.sold-img {
  position: absolute;
  z-index: 2;
  height: 150px;
  margin-left: -250px;
}

.card {
  width: 220px;
  height: 280px;
}
