
body {
  background: url('https://upload.wikimedia.org/wikipedia/commons/7/76/Urval_av_de_bocker_som_har_vunnit_Nordiska_radets_litteraturpris_under_de_50_ar_som_priset_funnits_(2).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}

/*home page*/
#landing-page {
  height: 400px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin-top: -50px;
}

#textbook-info {
  font-family: Righteous;
  width: 80%;
  margin-left: 10%;
}

#signup-button {
  height: 40px;
  width: 100%;
  margin-bottom: -280px;
  font-size: 40px;
}

#login-button {
  width: 100%;
  margin-bottom: -340px;
  height: 40px;
  font-size: 40px;
}

/*Signup modal*/
#modal1 {
  height: 1900px;
  width: 70%;
  background: white;
  text-align: center;
  padding: 10px;
}

#signup-title {
  font-family: 'Righteous', cursive;
  margin-left: 60px;
  display: inline-block;
}

#close-signup {
  margin-top: 10px;
  display: inline-block;
  float: right;
}

#signup-name-icon {
  display:
}

.brand-logo {
  left: 40%;
}


/*login modal */

#modal2 {
  height: 800px;
  width: 70%;
  background: white;
  text-align: center;
  padding: 10px;
}

#login-title {
  font-family: 'Righteous', cursive;
  margin-left: 60px;
  display: inline-block;
}

/*positioning of textbook div */
#textbook-api{ /*div */
  position: relative;
  left: 100px;
  top: 350px;
}
/*enter textbook api, first html element tag */
#textbook-api-title{
  position: relative;
  top: 5px;
}
#input{
  position: relative;
  top: 250px;
}
#book-submit{
  position: relative;
  top: 30px;
  right: 240px;
}


/*form email, old password, new password etc...*/
.form-edit-profile{
  position: relative;
  top: 200px;
  left: 100px;
}
/*enter textbook api, second html element tag */
#textbook-two{
  position: relative;
  top: 150px;
}
#input-two{
  position: relative;
  top: 150px;
}
#book-submit{
  position: relative;
  top: 40px;
  right: 240px;
}

.info{
  position: relative;
  top: 500px;
}


/*textbook condition */
#book-form{/*div*/
  position: relative;
  top: 50px;
  left: 35%;
}
#textbook-condition{
  position: relative;
  top: 60px;
  right: 205px;
}
#textbook-isbn{
  position: relative;
  top: 120px;
  right: 410px;
}
#condition-submit{
  position: relative;
  top: 160px;
  right: 690px;
}

input {
  text-align: center;
  font-size: 36px;
}

/*Modal Views*/
#modal-view {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  position: absolute;
  z-index: 2;
  background: rgb(255, 255, 255);
  width: 80%;
  margin-left: -5%;
  height: 500px;
  margin-top: 50px;
  display: none;
  overflow: scroll;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

#book-description {
  display: inline-block;
}

#hello-user {
  font-family: 'Righteous', cursive;
  text-align: center;
}

#college {
  text-align: center;
}

#email {
  text-align: center;
}

#book-image {
  display: inline-block;
}

#exit-modal {
  margin-left: 90%;
}

.bookBg {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  -webkit-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  filter: brightness(0.5);
}

#book-description {
  position: relative;
  width: 600px;
}

#greeting {
  font-family: 'Righteous', cursive;
}

#card-description {
  display: none;
}
