<form class="create-book user-only" action="index.html" method="post">
  <input type="text" name="title" value="" placeholder = "Textbook Title">
  <input type="text" name="condition" value="" placeholder = "Condition of Textbook">
  <input type="text" name="isbn" value="" placeholder = "Textbook ISBN">
  <input type="submit" name="submit-book" value="Submit Book">
</form>
