
<form id = "book-form" action="index.html" method="post">
  <input id="textbook-title" type="text" name="textbook-title" placeholder = "Textbook Title">
  <input id="textbook-condition" type="text" name="condition" placeholder = "Textbook Condition">
  <input id="textbook-isbn" type="text" name="isbn" placeholder = "Textbook ISBN">
  <input type="hidden" id = "textbook-user-id" name="textbook-user-id" placeholder = "user-id test" value="">
  <input id="condition-submit" type="submit">
</form>
