<div class="logged-out" id = "sign-up-div">
  <h3>Sign Up</h3>
  <form class="sign-up" action="api/users" method="post">
    <input type="text" id = "signup-username" name="user[username]" placeholder = "username">
    <input type="password" id = "signup-password" name="user[password]" placeholder = "password">
    <input type="text" id = "signup-email" name="user[email]" value="" placeholder = "email">
    <input type="text" id = "signup-college" name="user[college]" value="" placeholder = "college">
    <input type="submit" name="name" value="Sign-Up">
  </form>
</div>

<div class="logged-out" id = "login-div">
  <h3>Login</h3>
  <form id = "login">
    <input type="text" id = "login-username" name="username" value="" placeholder = "username">
    <input type="password" id = "login-password" name="password" value="" placeholder = "password">
    <input type="submit" name="name" value = "Login">
  </form>
</div>


<!-- a user lands on the home page and sees the forms to log in. -->
<!-- once a user enters in their log in information then presses submit, the list of books which are ready for sell appear via a toggle action -->
<!-- if a user isn't signed/doesn't have an account, they click the button 'sign up', and the sign up forms appear. ONce the user completes the sign up information and presses submit, then the sign up forms disappear, the log in forms appear. -->
