<!-- Show Profile  -->
<!-- Avatar -->
<div>
  <img class="profile-avatar" src="https://d13yacurqjgara.cloudfront.net/users/72948/screenshots/1631127/cell311_1x.png" alt="">
</div>

<p>{{username}}</p>

<h3>Email</h3>
<p>ben@huntercollege.edu</p>
<h3>College</h3>
<p>Hunter College</p>
<!-- Edit Profile (going to be a button to enable fields)-->

<form class="form-edit-profile">
  <label for="edit-form-email">Email</label>
  <input type="text" name="edit-form-email" placeholder="*current user email*">
  <label for="edit-form-oldpw">Old Password</label>
  <input type="password" name="edit-form-oldpw">
  <label for="edit-form-newpw">New Password</label>
  <input type="password" name="edit-form-newpw">
  <label for="edit-form-confirm">Confirm New Password</label>
  <input type="password" name="edit-form-confirm">
  <label for="edit-form-college">College</label>
  <input type="text" name="edit-form-college" placeholder="*current user college*">
  <input type="submit" value="Submit">
</form>
