<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="./css/kube.css">
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="./js/scripts.js"></script>
  <script src="./js/book.js"></script>
​
  <script id="users-template" class = "user-only" type="text/x-handlebars-template">
    <h3> Hello {{ username }} of {{ college }}</h3>
  </script>
​
  <script id="book-template" type="text/x-handlebars-template">
    <h1>{{ISBN:0201558025.bib_key}}</h1>
    <!-- <h1>{{results.[0].artistName}}</h1>
      <ul>
      {{#each results}}
      <li>{{trackName}}</li>
      {{/each}}
      </ul> -->
  </script>
​
</head>
​
<body>
  <a href="/sell">Sell your Textbook</a>
  <button class = "user-only" id = "logout" value = "Logout">Logout</button>
  <% include ./partials/userForms %>


  <% include ./partials/list-book-form %>
  ​ <div id="textbook-api">
      <h4 id="textbook">Textbook API here 1</h4>
      <input id="input" type="text" name="textbook" placeholder="Enter textbook 1">
​
  <h4 id="textbook-two">Textbook API here 2</h4>
  <input id="input-two" type="text" name="textbook" placeholder="Enter textbook 2">


  <% include ./partials/list-book-form %>
​
  <h4>Textbook API</h4>
  <input id="input" type="text" name="textbook" placeholder="Enter textbook">
  <input id="submit" type="submit" name="name" value="Show Me my book">
​

  <% include ./partials/list-book-form %>
  ​ <div id="textbook-api">
      <h4 id="textbook">Textbook API</h4>
      <input id="input" type="text" name="textbook" placeholder="Enter textbook">



​
  <h4>Textbook API</h4>
  <input id="input" type="text" name="textbook" placeholder="Enter textbook">


​
  <h4>Textbook API</h4>
  <input id="input" type="text" name="textbook" placeholder="Enter textbook">





      <input id="submit-my-book" type="submit" name="name" value="Show Me my book">
  ​ </div>

  <div id="rendered-textbooks">
​
  </div>
​
  <!-- <section class = "user-only" id = "users">
</section> -->
​
  <!-- <% include ./partials/user-profile %> -->
​
​
</body>
</html>
