<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="./css/kube.css">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/book-listing.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="./js/scripts.js"></script>
  <script src="./js/book.js"></script>
​
  <!-- <script id="users-template" type="text/x-handlebars-template">
    <h3> textbooks:</h3>
  </script> -->
​
  <script id="textbook-template" type="text/x-handlebars-template">

    <ul>
      {{#each users}}
          {{#each textbooks}}
          <div class="listed-books">
            <li><h3 class="book-title">{{title}}</h3></li>
            <li><h5 class="book-condition">Condition: {{condition}}</h5></li>
            <li><p class="book-isbn">ISBN#: {{isbn}}</p></li>
          </div>
          {{/each}}
      {{/each}}
    </ul>


  </script>
​
</head>
​
<body>
  <!-- <a href="/sell">Sell your Textbook</a> -->
  <button class = "user-only" id = "logout" value = "Logout">Logout</button>
  <button id = "start-modal" class = "user-only" type="button" name="button"> Sell Textbooks</button>
  <% include ./partials/userForms %>
​
  <div id="modal-view">
    <button id = "exit-modal" type="button" name="button">X</button>
    <% include ./partials/list-book-form %>
    <div id = "search-results">
    </div>
  </div>
  <!-- ​ <div id="textbook-api">
      <h4 id="textbook">Textbook API here 1</h4>
      <input id="input" type="text" name="textbook" placeholder="Enter textbook 1">
​
  <h4 id="textbook-two">Textbook API here 2</h4>
  <input id="input-two" type="text" name="textbook" placeholder="Enter textbook 2"> -->



  <!-- <section class = "user-only" id = "users">
</section> -->




<div id="rendered-textbooks" class="user-only">

</div>
​
​
​

</body>
</html>
