<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>

</head>
<body>
  <a href = '/' id = "Home" class = "btn user-only">Home</a>


<div class = "container">
  <h1 id = "hello-user"></h1>

  <h2 id = "college"></h2>

  <h3 id = "email"></h3>

  <div id = "books-for-sale">
    <h1>Books For Sale: </h1>
  </div>

  <div id = "sold-books">
    <h1>Books You've Sold: </h1>
  </div>

</div>

</body>
</html>
