<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Sell </title>
  <link rel="stylesheet" href="./css/kube.css">
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script> -->
  <script src="./js/scripts.js"></script>
  <script src="./js/book.js"></script>

  </head>
  <body>

    <% include ./partials/list-book-form %>


  </body>
</html>
